INTERATCLI=false

PE_USERNAME=admin
PE_PORT=9440
PE_PASSWORD=password

# Client credentials
CLIENT_ID=stuff.img.frame.nutanix.com
CLIENT_SECRET=numberletter
CLUSTER_ID=numberletterdash

# nutanix api cluster url
DOMAIN=https://api-gateway-prod.frame.nutanix.com

PRISMCENTRAL_VMNAME=Prism Central Development STS
PRISMCENTRAL_TOGGLE=NOPCVM
PRISMCENTRAL_VMDESC=NutanixPrismCentral

OUTPUT=/output/

VM_EXCEPTIONS=b2a46b75-ac5c-4d47-86c6-1979ec9dd24e